<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T9N4DK6');</script>
  <!-- End Google Tag Manager -->
</head>
<!-- Main title About UVC Tech  -->
<div class="row" >
  <div class= "col-lg-12 text-center">
    <h1 class="maintext">{{title}}</h1>
  </div>
</div>

<!-- Container for  About UVC Tech  -->
<div class="container-fluid" style ="padding:2% 0 13% 0; font-size:27px;">

<!-- First column About UVC Tech  -->

    <div class="row" style="padding: 5% 0 5% 2%;">
      <div class="col-md-6 " >
        <h3>Culture</h3>
          <p>We help our team members grow in their current roles and dream about what’s next.
          UVC Tech works to create a healthy, balanced company culture that sustains a long-term,
          creative workforce, and encourages a healthy work-life balance.
          Our employees are encouraged to attend events, share what they do, and take time off to
          volunteer or learn new skills.<br><br>
          UVC Tech employs writers, designers, comedians, artists, and other interesting folks,
          so we stay inspired by people in different industries.
        </p>
      </div>
        <div class="col-md-6" >
         <h3>People</h3>
          <p>As a privately owned, founder-led company, we’re able to work fast and respond to our
            customers’ needs without anything getting in our way. <br><br>
            As part of our commitment to diversity and inclusion, we’re cultivating an equitable and
            empathetic workplace, a listening and learning culture, and an empowered and inspired community.<br><br>
            We love Kitchener and want to make sure it’s a place where creativity is rewarded and where great ideas come to life.
          </p>
        </div>
      </div>
      <div class="row" >
        <div class="col-md-4">
          <img src="/images/office-1.jpg"  alt="door knob" style="width:100%;">
        </div>
        <div class="col-md-4" >
            <img src="/images/door.jpg"  alt="door knob" style="width:100%;">
        </div>
        <div class="col-md-4">
          <img src="/images/office-2.jpg"  alt="door knob" style="width:100%;">
        </div>
      </div>
      <div class="row" style="padding:2% 0 2% 2%;">
          <div class="col-md-6" >
            <p>It is said that health is the wellspring of life, and that very health is under daily risk from a plethora of
              viruses and bacteria that we have seemingly accepted into our everyday lives and routines: door knobs, door handles,
              shopping cart handles, and elevator buttons. Hundreds if not thousands of people touch these public instruments
              everyday, unknowingly allowing invisible threats to our health to accumulate.
            </p>
          </div>
            <div class="col-md-6" >
          <p>In this decade, the public has also realized that traditional chemical solutions to health problems are themselves
            health risks. The FDA banned 19 of the 21 active ingredients in anti-bacterial products currently available. These
            products cause hormonal damage and birth defects and have no scientific evidence they are more effective then
            plain soap and water.
          </p>
        </div>
      </div>
      <div class="logoindex text-center" style="padding:2% 0 2% 0;">
        <img src="/images/mission-vision.png" alt="door knob" style="width:15%;">
      </div>
      <div class="row pb-5" style="padding:2% 0 2% 2%;">
        <div class="col-md-6" >
          <h3 class="text-center">Mission</h3>
          <p>UVC Tech is dedicated to providing improved solutions to bacteria through innovation and technological advancment.
          </p>
        </div>
        <div class="col-md-6">
          <h3 class="text-center ">Vision</h3>
          <p>
            To leverage technology against surface bacteria, providing a safe future, free from bacteria.
            </p>
        </div>
      </div>

      <div class="row text-center bg-dark">
        <div class="col-lg-12">
          <h3 class=" text-white text-center " style="padding:1% 0 0 0;">The Team</h3>
        </div>
      </div>

      <div class="row text-center bg-dark" >
        <div class="col-md-4 offset-md-2">
          <div class="card">
            <div class="col-md-6 offset-md-3">
            </div>
            <div class="container">
              <h3>Anthony Baldasaro</h3>
              <h4 class="maintext">CEO &amp; Founder</h4>
              <h4>Marketing and Advertising Communications
                <br>
                Pre-Health Sciences
                <br>
                <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">
                  anthonybaldasaro@uvctech.ca</a>
                </h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <div class="col-md-6 offset-md-3">
            </div>
            <div class="container">
              <h3>Apoorva Yadav</h3>
              <h4 class="maintext">CTO &amp; Co-Founder</h4>
              <h4>IT Support Services
                <br>
                Mechanical Engineering
                <br>
                <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">
                  apoorvayadav@uvctech.ca</a>
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center bg-dark" style= "padding:3% 0 3% 0;">
      <div class="col-md-4 offset-md-2">
          <div class="card">
            <div class="col-md-6 offset-md-3">
            </div>
            <div class="container">
              <h3>Anjelica Howard</h3>
              <h4 class="maintext">Marketing and Advertising</h4>
              <h4>Physio Therapy
                <br>
                <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">
                  anjelicahoward@uvctech.ca</a>
                </h4>
            </div>
          </div>
        </div>
        <div class="col-md-4 ">
          <div class="card">
            <div class="col-md-6 offset-md-3">
            </div>
            <div class="container">
              <h3>Justin Hsu</h3>
              <h4 class="maintext">Operations Manager</h4>
              <h4>Marketing and Advertising Communications
              <br>
              <a href="mailto:someone@example.com?Subject=Hello%20again" target="_top">
                justinhsu@uvctech.ca</a>
                 </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row pb-5">
        <div class="col-md-6 " style="padding:2% 0 2% 2%;">
          <p>
            Anthony Baldasaro & Apoorva Yadav co-founded UVC Tech to research and develop scalable technologies
            for everyday use in a variety of buildings and equipment. They seek to address the inefficiencies and
            health risks of traditional antibacterial solutions, whilst providing a superior service using advanced technology.
          </p>
        </div>
        <div class="col-md-6">
          <br>
          <p>
            UVC Tech seeks to revolutionize preventive healthcare by adding UV-C-LED antibacterial technologies to
            everyday items that we all touch. This “add-on” initiative does not require changing existing material or
             equipment, saving on time and costs; whilst allowing for universal acceptance wherever UVC Tech can be used
              to make our community a healthier, safer place.
            </p>
        </div>
      </div>
      <div class="row text-center bg-dark">
        <div class="col-lg-12">
          <h3 class="text-white text-center" >Advisors </h3>
        </div>
      </div>

      <div class="row text-center bg-dark" >
        <div class="col-md-4 offset-md-2">
          <div class="card">
            <div class="col-md-6 offset-md-3">
            </div>
            <div class="container"  >
              <h3>Mary McCullum Baldasaro</h3>
              <h4 class="maintext">Operations Advisor</h4>
              <h4>Walden University M.D, B.A,
                <br>
                Western University Ed.D
                <br>
                </h4>
            </div>
          </div>
        </div>
        <div class="col-md-4" style="padding-bottom:3%;" >
          <div class="card" >
            <div class="col-md-6 offset-md-3">
            </div>
            <div class="container" >
              <h3>Pat Suriano</h3>
              <h4 class="maintext">Advertising Advisor</h4>
              <h4>Professor of Advertising and Design
                <br>
              University of Waterloo BFA
              </h4>
            </div>
          </div>
        </div>
      </div>
      <div class="row text-center bg-dark" style="padding-bottom:5%;">
        <div class="col-md-4 offset-md-2">
          <div class="card">
            <div class="col-md-6 offset-md-3">
            </div>
            <div class="container"  >
              <h3>Rachel van Horsigh</h3>
              <h4 class="maintext">Business Advisor</h4>
              <h4>Pre Health Sciences
                <br>
                Environmental and Public Health
                <br>
                </h4>
            </div>
          </div>
        </div>
          <div class="col-md-4" >
            <div class="card" >
              <div class="col-md-6 offset-md-3">
              </div>
              <div class="container" >
                <h3>Brian Ferguson</h3>
                <h4 class="maintext">Product Design</h4>
                <h4>Mechanical Engineering
                  <br>
                Computer Programing
                </h4>
              </div>
            </div>
          </div>
      </div>
      <div class="row " style="padding:0 0 2% 2%;">
        <div class="col-md-12 " >
          <br>
          <p>
            UVC Tech was developed in response to the emerging issues around student health in dormitories and
            student housing as they can become a cesspool for infectious disease in the winter months.
            Although the technology was initially developed for student housing, there are numerous markets that
            would benefit from the implementation of UV-C-LED Anti-Bacterial technologies.<br>
            <br>If made an industry standard in health care facilities, UV-C-LED Anti-Bacterial technologies
            will significantly decrease the likelihood of invasive infections in all health care facilities
            while also limiting the use of harmful cleaning chemicals. Many UVC Tech Anti-Bacterial technologies
            use LED’s to emit UV-C light to break the chemical bonds in the surface bacteria to eliminate surface
            transfers. The Liquid Silicone Rubber on the surface of the cover is of medical grade to ensure superior quality.<br>
            <br>We aim to develop technology of universal sizes or as stretch-to-fit, so that it can truly be used anywhere.
          </p>
          </div>
      </div>

</div>
