<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T9N4DK6');</script>
  <!-- End Google Tag Manager -->
</head>
  <h1 class="text-center maintext">{{title}}</h1>

  {{msg}}
<form method="POST" action="send" >
        <div class="form-group row">
            <div class="col-lg-4 offset-lg-2">
              <label >Name:</label>
              <input type="text" class="form-control" name="name" >

              <label >Company:</label>
              <input type="text" class="form-control" name="company" >

              <label>Email:</label>
              <input type="text" class="form-control" name="email">
          </div>

          <div class="col-lg-4 pb-5">
            <label >Subject:</label>
            <input type="text" class="form-control" name ="subject">

            <label >Message:</label>
            <textarea style=" height:50%;border: 2px solid #4791cd;border-radius: 4px;" placeholder="Write something.." type="text" name="message" class="form-control"></textarea>
            <br>

          </div>

    </div>
    <div class="form-group row text-center pb-3">
      <div class="col-lg-12">
        <input  type="submit"  value="Submit" style="background-color: #4791cd; width:25%; ">
      </div>
    </div>
</form>

  <div class="row" style="background-color: #4791cd;padding: 1% 0 2% 0;">
    <div class="col-md-12 ">
        <div class="logoindex text-center">
          <img src="/images/building.jpg" class="pr-2" alt="door knob" style="width:15%;">
          <img src="/images/entrance-spur.jpg" class="pr-2" alt="ex EBC" style="width:15%;">
          <img src="/images/frederick-spur.jpg" class="pr-2" alt="door knob" style="width:15%;">
          <img src="/images/frederickst-spur.jpg" class="pr-2"  alt="door knob" style="width:15%;">
          <img src="/images/queen-spur.jpg" class="pr-2" alt="door knob" style="width:15%;">
          <img src="/images/window-spur.jpg" class="pr-2" alt="door knob" style="width:15%;">
        </div>
    </div>
  </div>
  <div class="row" style="padding: 2% 0 2% 0;">
    <div class="col-md-6 offset-md-4">
    <iframe
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2896.3186636539294!2d-80.49787588450873!3d43.453943979128596!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882bf48b3ddda747%3A0x8d11d59cf4940ffe!2s238+Duke+St+W%2C+Kitchener%2C+ON+N2H+3X5!5e0!3m2!1sen!2sca!4v1529979642529" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
    </iframe>
  </div>
  <div class="col-md-2" style="font-size:27px;padding: 2% 0 0 0;">
    <p>
      283 Duke St West<br>
      Unit 225<br>
      Kitchener, Ontario<br>
      N2H 3X7
    </p>
  </div>
  </div>
