<head>
  <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-T9N4DK6');</script>
<!-- End Google Tag Manager -->

</head>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T9N4DK6"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
  <div class="container-fluid text-center">
            <div class="row">
            <div class="col-lg-12">
                <h1 style="padding:2% 0 2% 0;">
                      Proven preventative solutions to surface bacteria.
                </h1>
            </div>
          </div>
            <div class="row text-left pt-5 pb-3">
              <div class="col-md-6">
                  <h1 class="maintext pb-4"> Technological Solutions to Surface Bacteria</h1>
                    <h3>
                        UVC Tech Produces long term solutions to surface bacteria that seamlessly integrate
                         with your current hardware by combining Liquid Silicone Rubber with UV-C LED’s.<br><br>
                         UVC Tech seeks to revolutionize preventive healthcare by adding Liquid Silicone Rubber and UV-C-LED antibacterial
                        technologies to everyday items that we all touch.
                    </h3>
              </div>
              <div class="col-md-6">
                  <h3>
                        This “add-on” technology does not require changing existing material or
                        equipment, saving on time and costs; whilst allowing for universal acceptance wherever UVC Tech can be used to make our
                        community a healthier, safer place.<br><br>
                        UVC Tech plans to identify UV-C LED technology and provide new, improved, and expanded
                        solutions in both air and water treatment. Dual barrier, post-filtration protection is now available
                        where mercury-based systems could not previously have been conceivably used.
                  </h3>
               </div>
              </div>

              <div class="row pt-5">
                  <div class="col-md-12">
                      <h1 class=" pb-4">Seemlessly integrate UVC Tech into your existing hardware.</h1>
                    </div>

                      <img class="img-fluid" src="/images/hand-main.jpg"  alt="people" style="width:100%; height:1%;">
                      </div>


    <div class="row text-left " style="padding: 5% 0 5% 0;">
      <div class="col-md-6">
        <h1 class="maintext pb-4"> UVC Technology and LSR</h1>
        <h3>
          The UV-C-LED Anti-Bacterial Cover uses LEDs to emit UV-C light between 254nm and 275nm to eliminate surface
          transfers in 3.5 seconds on both the hand and the cover. The rays are directed at the viruses through a thin
          layer of Liquid Silicone Rubber that will not break down from radiation and the offending virus become harmless in seconds.
        </h3>
      </div>
      <div class="col-md-6">
      <br><br><br>  <h3>
        Our UV-C LED’s last up to 30,000 hours and heat up instantly, activated on an infrared motion sensor, whereas conventional
        UV-C bulbs take 15 minutes to heat up and have a very short life expectancy. UV-C LED bulbs also emit next to no heat whereas
        the other bulb varieties available are too far hot to confine, and cause silicone to break down due to radiation.
        </h3>
      </div>
    </div>

    <div class="row bg-dark pt-5 pb-5 text-white">
      <div class= "col-md-3 text-center">
            <img src="/images/spur-building.png" class="img-centered " alt="shopping cart" style="width:96%;">
      </div>
      <div class= "col-md-6 text-center ">
            <h1 class="font-weight-bold ">In collaboration with <br>SPUR Innovation Center <br>283 Duke St W Kitchener, ON</h2>
              <div class="pt-5" >
                <h1 class="font-weight-bold"> Follow Us On<h1>
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <a href="https://www.facebook.com/uvctech/">
                      <img src="/images/logos/facebook.png" alt="facebook" no-repeat>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://www.instagram.com/uvctech/">
                      <img src="/images/logos/instagram.png" alt="instagram" no-repeat>
                    </a>
                  </li>
                  <li class="list-inline-item">
                    <a href="https://twitter.com/uvc_tech">
                      <img src="/images/logos/twitter.png" alt="twitter" no-repeat></a>
                    </li>
                  </ul>
              </div>
      </div>
      <div class= "col-md-3 text-center">
            <a href="http://www.spuric.com/" ><img src="/images/spur-logo.png" class="img-centered " alt="shopping cart" style="width:96%;"></a>
      </div>
      </div>
    </div>


    <div class="row text-left pt-5 pb-5">
      <div class="col-md-6">
        <h1 class="maintext pb-4">Eco-Friendly & Affordability</h1>
        <h3>
          LSR is a completely recyclable product. It also has the capability to resist break down and last
          forever, making it a sustainable, non-wasteful technology.
        </h3>
      </div>
      <div class="col-md-6">
        <br><br><br><h3>
        The price of UVC Tech products is meant to be affordable, but they are certainly at a higher price point
         than our competition. However, with UVC Tech you save money in the long run, along with the advantage of
         greater effectiveness and safety.
        </h3>
      </div>
    </div>

         <!-- core values UVC Tech  -->
         <div class=""  style ="font-size:20px;">
           <div class="row"  >
             <div class= "col-lg-12 text-center">
               <h1 >Core Values</h1>
             </div>
           </div>

           <div class="row  pt-5 pb-5 "  >
             <div class= "col-md-3 text-center">
               <div class="logoindex">
                   <img src="/images/integrity.png" class="img-centered border border-primary rounded-circle" alt="shopping cart" style="width:50%;">
                     <div class="overlay ">
                         <div class="hovertext bg-dark pt-5 pb-5" style="width: 90%;">
                           <p class=" text-center ">We demonstrate honesty, fairness, openness and clear
                             boundaries in all our interactions, behaviours and practices.</p>
                         </div>
                     </div>
               </div>
               <div class="text-white">
                 <caption>Pride</caption>
               </div>
             </div>
             <div class= "col-md-3 text-center">
               <div class="logoindex">
                   <img src="/images/growth.png" class="img-centered border border-secondary rounded-circle" alt="shopping cart" style="width:50%;">
                   <div class="overlay ">
                       <div class="hovertext bg-dark pt-5 pb-5" style="width: 90%;">
                         <p class=" text-center">Respecting the value of human life, delivering value through performance, innovation and sustainability.</p>
                       </div>
                   </div>
               </div>
               <div class="text-white">
                 <caption>Quality</caption>
               </div>
             </div>
             <div class= "col-md-3 text-center">
               <div class="logoindex">
                   <img src="/images/transparency.png" class="img-centered border border-success rounded-circle" alt="shopping cart" style="width:50%;">
                   <div class="overlay ">
                       <div class="hovertext bg-dark pt-5 pb-5" style="width: 90%;">
                         <p class=" text-center">Maintaining transparent business practices while acting honestly, ethically and responsibly in all aspects of our business.</p>
                       </div>
                   </div>
               </div>
               <div class="text-white">
                 <caption>Transparency</caption>
               </div>
             </div>
             <div class= "col-md-3 text-center">
               <div class="logoindex">
                   <img src="/images/innovation.png" class="img-centered border border-warning rounded-circle" alt="shopping cart" style="width:50%;">
                   <div class="overlay">
                       <div class="hovertext bg-dark pt-5 pb-5 " style="width: 90%;">
                         <p class=" text-center">We promote clean technology and other sustainable business
                            practices while constantantly upgrading and improving our services.</p>
                       </div>
                   </div>
               </div>
               <div class="text-white">
                 <caption>Innovation</caption>
               </div>
             </div>
           </div>
         </div>
