<head>
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-T9N4DK6');</script>
  <!-- End Google Tag Manager -->
</head>
<!-- Main title products UVC Tech  -->
<div class="row" style ="padding: 0 0 3% 0;">
  <div class= "col-lg-12 text-center">
    <h1 class="maintext">{{title}}</h1>
    <h2 >Solutions to Surface Bacteria through Technology</h2> <br> <h2 class="maintext">Technology that has been designed to withstand Canada's harsh climates</h2>
  </div>
</div>
<div class="row text-white" style="background-color: #4791cd;padding:3% 3% 3% 3%;">
   <div class="col-md-12 ">
     <h2 class="font-weight-bold text-center">Product Line<h2>
         <div class="logoindex text-center">
           <img src="/images/UVCTechElevatorButton.jpg"  alt="ex EBC" style="width:15%;" class ="imgage-circle">
           <img src="/images/UVCTechDoorHandle.jpg"  alt="door knob" style="width:15%;">
           <img src="/images/wheel-chair.png"  alt="door knob" style="width:15%;">
           <img src="/images/UVCtech_doorknob_Chsu.jpg"  alt="elevator button" style="width:15%;">
           <img src="/images/shopping-cart.png"  alt="elevator button" style="width:15%;">
         </div>
       </div>
</div>

    <div class="row " style="padding:3% 3% 3% 3%;">
      <div class="col-md-6 ">
            <h2 class="font-weight-bold text-center maintext">LSR Product Line<h2>
       <p>This Product line is made from optically clear Liquid Silicon Rubber (LSR) that is 100% anti-bacterial by nature.
          The LSR inhibits bacterial growth and has been FDA approved. The LSR resists UV exposure, is scratch resistant
           and retains a cosmetic attractiveness throughout its lifecycle.  This enables the Elevator Button Cover(EBC) LSR to be flexible,
           temperature stable and withstand harsh cleaning agents and pesticides. </p>
           <p>The EBC is available in custom sizing (including circular and square buttons) and can be tinted to
             meet special color specifications. Help eliminate the transfer of surface bacteria. </p>
          <ul>
            <li>Lasts forever if used properly</li>
            <li>Available in a variety of colour (naturally transparent)</li>
            <li>100% antibacterial without and moving parts</li>
            <li>Eliminates up to 100% of the bacteria on the covering</li>
          </ul>
      </div>
     <div class="col-md-6">
          <h2 class="font-weight-bold text-center maintext">UVC Product Line<h2>
            <p>The UVC product line combines optically clear Liquid Silicon Rubber (LSR) that is 100% anti-bacterial
              by nature with UVC-LEDs. LEDs to combat surface bacteria on both the door knob and the hand of
              the individual touching it. The LSR inhibits bacterial growth and the 4 UVC LED's work together
              to eliminate up to 99.99% of the harmful bacteria, limiting further outbreak (and has been FDA approved).
            </p>
            <p>The products are battery operated and activate with an infrared motion sensor to maximize product lifetime.
                  They are available in custom sizing to ensure maximum protection.
            </p>
            <ul>
              <li>30,000 hour life span</li>
              <li>Lasts up to 7 years if used properly</li>
              <li>Rechargable (comes with replacement battery)</li>
              <li>Eliminates up to 99.99% of bacteria on both the cover and the hand of the individual touching it</li>
            </ul>
        </div>
  </div>
