<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111383023-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-111383023-1');
  </script>
</head>
<div class="row text-center">
  <div class="col-md-8 offset-md-2">
  <iframe width="640" height="401" src="http://www.powtoon.com/embed/cdugYXFtVFM/" frameborder="0"></iframe>
  </div>
</div>
